.input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    padding: 0 20px;
    outline: none;
    border: 1px solid #babdbf;
}
.input:focus {
    border: 1px solid #1785E5;
}

.autocomplete {
    position: relative;
    display: flex;
    flex-direction: column;
}

.tag {
    display: inline-block;
    padding: 4px;
    border-radius: 4px;
    background-color: #ECEFF0;
    margin-left: auto;
}